:root {
	background-color: var(--color-md-light-surface);
}

@media (prefers-color-scheme: dark) {
	:root {
		background-color: var(--color-md-dark-surface);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes slide-from-right {
	from {
		transform: translateX(100%);
	}
}

@keyframes slide-to-right {
	to {
		transform: translateX(100%);
	}
}

@keyframes slide-to-left {
	to {
		transform: translateX(-100%);
	}
}

:root::view-transition-old(app-page-content),
:root::view-transition-new(navbar) {
	animation: 150ms cubic-bezier(0, 0.8, 0.34, 1) both fade-out;
}

:root::view-transition-new(app-page-content),
:root::view-transition-new(navbar) {
	animation: 150ms cubic-bezier(0, 0.8, 0.34, 1) both fade-in;
}

:root::view-transition-old(nested) {
	animation: 400ms cubic-bezier(0, 0.8, 0.34, 1) both slide-to-right;
}

:root::view-transition-new(nested) {
	animation: 400ms cubic-bezier(0, 0.8, 0.34, 1) both slide-from-right;
}

:root::view-transition-old(panel) {
	animation: 400ms cubic-bezier(0, 0.8, 0.34, 1) both slide-to-left;
}

:root::view-transition-group(panel) {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	transform: none;
	opacity: 1;
	z-index: 900;
}

:root::view-transition-group(*) {
	animation-duration: 400ms;
	mix-blend-mode: normal !important;
}

::view-transition-group(nested) {
	opacity: 1;
	z-index: 1000;
}

::view-transition-group(navbar) {
	opacity: 1;
	z-index: 800;
}

:root:has(.app-page-content.nested) {
	view-transition-name: nested;
}

.app-page-content:not(.nested) {
	view-transition-name: app-page-content;
}

:root:not(:has(.app-page-content.nested)) {
	.k-panel.translate-x-full {
		view-transition-name: panel;
	}

	.frame > .k-navbar {
		view-transition-name: navbar;
	}

	.k-toolbar {
		view-transition-name: toolbar;
	}
}
