# Example config for OpenSelves-server
# Copy to .env to get started

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="mysql://openselves:openselves@localhost:3306/openselves"
SHADOW_DATABASE_URL="mysql://openselves:openselves@localhost:3306/openselves_shadow"

# You must change this to a long, securely generated random string. Recommended length is 64 characters
JWT_SECRET=CHANGE_ME

# In seconds. Keep this value low. Must be below REFRESH_TOKEN_DURATION.
# Example value is 15 minutes.
ACCESS_TOKEN_DURATION=900

# In seconds. Can be as big as needed. Use -1 for no expiry.
# Example value is 30 days.
REFRESH_TOKEN_DURATION=2592000

# In bits. Don't go under 16.
REFRESH_TOKEN_SIZE=32