# Example config for OpenSelves-server
# Copy to .env to get started

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://openselves:openselves@localhost:3306/openselves"
SHADOW_DATABASE_URL="mysql://openselves:openselves@localhost:3306/openselves_shadow"

# You must change this to a long, securely generated random string. Recommended length is 64 characters
JWT_SECRET=CHANGE_ME
